%article
  %h1
    Velkommen til
    = current_domain.name
  %article
    .col-md-8= raw current_domain.info
    .col-md-4 Empty

  - if current_user.present? && current_user.admin(current_domain.id).present?
    .row
      .col-md-4= link_to 'Redigér', edit_setting_path(current_domain.id), class: 'btn btn-primary'