- @page.sections.each do |section|
  = render 'sections/section'
- if current_user.admin?
  .col-md-12
    .btn-group
      = link_to 'Redigér', edit_page_path(@page), class: 'btn btn-primary'
      = link_to 'Nyt afsnit', new_section_path(:page_id => @page.id), class: 'btn btn-default' if !@page.sections.present?